<h2>Template: <small> Dinamicos </small> </h2>
<hr>
<form (ngSubmit)="save()" #myForm="ngForm" autocomplete="off">
    <!-- Nombre del producto-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>   
    <div class="col-sm-9">
            <input
            [ngModel]='person.name'
            name="nameTxt" 
            class="form-control" type="text"        
            placeholder="Nombre de la personal" 
            required>
            <span class="form-text text-danger" *ngIf="txtValidate()">
                Este es un dato obligatorio.
            </span>
        </div>
    </div>
    <!-- Agregar favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                [(ngModel)]='newGame'
                (keyUp.enter)="add()"
                name="newGame" 
                placeholder="Agregar juego favorito">
                <button class="btn btn-outline-primary" type="button" (click)="add(  )">Agregar</button>
            </div>
        </div>
    </div>

    <!-- Agregar favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <div class="input-group mb-2" *ngFor="let game of person.favorites; let i = index; ">
                <input required class="form-control"  
                [(ngModel)]="game.name"
                [name]="'favorito_'+i">

                <button class="btn btn-outline-danger" type="button" (click)="delete(i)" >Eliminar</button>
            </div>            
        </div>
    </div>    
    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
            class="btn btn-primary float-end"
            (click)="save()" 
            [disabled]="myForm.invalid">
                Guardar
            </button>
        </div>
    </div>
</form>


<span>
    Persona
</span>
<pre>
    {{ person | json }}
</pre>