<h2>Reactive: <small> Dinamicos </small> </h2>
<hr>
<form (ngSubmit)="save()" [formGroup]="myForm" autocomplete="off" >
    <!-- Nombre del producto-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>   
    <div class="col-sm-9">
            <input
            class="form-control" type="text"
            formControlName='name'                    
            placeholder="Nombre de la personal" 
            >
            <span class="form-text text-danger" *ngIf="isNotFieldValid('name')" >
                Este es un dato obligatorio.
            </span>
        </div>
    </div>
    <!-- Agregar favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"     
                    
                    [formControl]="newFavorite"
                placeholder="Agregar juego favorito"
                (keyup.enter)="addFavorite()">
                <button class="btn btn-outline-primary"
                (click)="addFavorite()" type="button" >Agregar</button>
            </div>
        </div>
    </div>

    <!-- Agregar favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9" formArrayName="favorites">
            <div class="input-group mb-2" *ngFor="let item of favoritesArr.controls; let i = index;">
                <input class="form-control"
                [formControlName]="i">
                <button class="btn btn-outline-danger" type="button" (click)="delete(i)" >Eliminar</button>
            </div>            
        </div>
    </div>    
    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
            class="btn btn-primary float-end">
                Guardar
            </button>
        </div>
    </div>
</form>

<span>
    Valid
</span>
<pre>
    {{ myForm.valid }}
</pre>

<span>
    Valid
</span>
<pre>
    {{ myForm.value | json }}
</pre>
<br>
<span> Agregar Juego </span>
<pre>
    {{newFavorite.valid | json }}
</pre>
<br>
<span> Juego </span>
<pre>
    {{newFavorite.value | json }}
</pre>
